.container {
    width: 800px;
    height: 500px;
    background-color: rgb(201, 150, 191);
    margin: auto;
    margin-top: 5rem;
}

.row {
    display: flex;
    justify-content: center;
    gap:3rem;
}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid bisque;
    margin: 2rem 2rem;
    text-align: center;
    line-height: 100px;
    font-size: large;
    border-radius: 5rem;
}

.banner {
    width: 500px;
    height: 200px;
    border: 1px solid bisque;
    margin-top: 2rem;
    text-align: center;
    line-height: 200px;
    font-size: larger;
    border-radius: 1rem;
}